/* .FooterContainer {
    background-color: rgba(105, 105, 105, 0.8);
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
    border-top: solid 3px black;
}

.footer-container-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.FooterContainer .footerElement {
    width: 30vw;
    margin: 1%;
} */

* {
  font-family: "Montserrat", sans-serif;
}

.footer__container {
  width: 99vw;
  background-color: #004aad;
  margin-top: 2vh;
  padding: 1em 0;
  display: flex;
  flex-direction: wrap;
  text-align: center;
  justify-content: space-around;
  border-top: 3px solid rgb(37, 36, 36);
}

.red-social {
  margin-bottom: 50px;
}
.footer-img__container img {
  width: 100px;
  margin-top: 15px;
}

.redes h2 {
  color: #f2e1e1;
  font-weight: 1000;
  font-size: 20px;
  margin-top: 15px;
}

.red-social a {
  padding: 5px;
  margin: 3px;
  color: #f2e1e1;
  font-size: 24px;
  padding-top: 30px;
}

.fa-whatsapp:hover {
  color: #25d366;
}

.fa-instagram:hover {
  color: #833ab4;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-envelope:hover {
  color: #ef233c;
}

.copyright {
  color: #f2e1e1;
  width: 150px;
  padding-top: 15px;
}

.sucursales h2 {
  color: rgba(218, 204, 204, 0.973);
  font-weight: 1000;
  font-size: 14px;
  padding-bottom: 10px;
  margin-top: 15px;
}

.sucursales li {
  list-style: none;
}

.sucursales a {
  color: #f2e1e1;
  padding-top: 10px;
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
}

.sucursales a:hover {
  color: #ef233c;
}

.telefonos h2 {
  color: #f2e1e1;
  font-size: 14px;
  padding-top: 15px;
  margin-bottom: 10px;
  font-weight: 1000;
}

.telefonos li {
  color: #f2e1e1;
  padding: 3px;
  font-size: 15px;
  list-style: none;
}

@media screen and (max-width: 700px) {
  .footer__container {
    flex-direction: column;
  }
  .copyright {
    margin: 0 auto;
  }
  .red-social a {
    padding-top: 10px;
  }
  .sucursales a:hover {
    color: #ffde59;
  }
  .telefonos h2 {
    color: #f2e1e1;
    font-size: 14px;
    padding-top: 15px;
    margin-bottom: 10px;
    font-weight: 1000;
  }
  .telefonos li {
    color: #f2e1e1;
    padding: 3px;
    font-size: 15px;
  }

  @media screen and (max-width: 700px) {
    .footer__container {
      flex-direction: column;
    }
    .copyright {
      margin: 0 auto;
    }
    .red-social a {
      padding-top: 10px;
    }
  }

  .preguntas {
    color: #f2e1e1;

    font-size: 18px;
    font-weight: 600;
  }
  .preguntas:hover {
    color: #ffde59;
  }
}

@media screen and (min-width: 540px) {
  .footer__container {
    width: 97vw;
  }
}

@media screen and (min-width: 720px) {
  .footer__container {
    width: 98vw;
  }
}

@media screen and (min-width: 992px) {
  .footer__container {
    width: 99.1vw;
  }
}
